[push]
	default = simple
[user]
	name = peixiong.gao
	email = posebear1990@gmail.com
[alias]
	unignore = update-index --no-assume-unchanged
	ignore = update-index --assume-unchanged
	cv = log --oneline -5
	co = checkout
	ci = commit
	st = status
	pl = pull
	ps = push
	dt = difftool
	lg = log --stat
	cp = cherry-pick
	ca = commit -a
	br = branch
[core]
	editor = vim
